/*html{
    background-color:blanchedalmond;
}

h1 {
    color: #8287E3; 
    font-family: "Caveat", cursive;
    font-size: 50px; 
    border: 2px grey solid; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 80px;
}
*/

h1{
    color: rgb(108, 28, 28);
}

.title{
    background-color: wheat;
    border: 2px grey solid;
    border-radius: 10px;
    padding-top:20px;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;

}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#author{
    color: rgba(20, 20, 97, 0.855)
}